/*----TAG----*/
body {
  color: white;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
}

h1 {
  color: #f0eec8;
  font-size: 5rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  color: #f0eec8;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #f0eec8;
  font-family: 'Montserrat', sans-serif;
}

img {
  margin-top: 50px;
}

p {
  margin: 0;
}

/*----CLASS----*/

.top {
  background-color: #00b7a8;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  background-color: #096386;
  padding: 2rem; 
}

.bottom-container{
  background-color: #0c084c;
}

/*----ID----*/
#bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
  width: 200px;
}

#disclaimer {
  font-size: 0.5rem;
}

#icon {
  height: 5rem;
  width: auto;
}

#top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 200px;
}

#mountain {
  height: 35rem;
  width: auto;
}

#photo {
  border-radius: 100%;
  height: auto;
  width: 200px;
}
